html {
    background: #DDDDDD;
    background: linear-gradient(to bottom, #EEE 0%, #ABABAB 50%, #898989 100%);
}

.name {
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 10vh;
    text-align: center;
    margin: -10px;
}

/* grid styling */
use {
    fill: transparent;
}
.button a:hover {
    fill: #E9781C;
    transition: .5s ease-in-out;
    cursor: pointer;
}
canvas {
    position: absolute;
    z-index: 1;
}


/* other styling */
svg {
    width: 100vh;
    margin-top: -25vh;
}
.hexagons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
    height: 100vh;
    font-weight: 700;
    font-family: 'Verdana';
    font-size: 4px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 112px;
    background-color: #121212;
    text-align: left;
}

.timeline {
    position: relative;
    display: block;

	height: 3px;
    width: 100%;
    top: 30px;
	background: #E9781C;
}

li {
	position: relative;
	display: inline-block;
    float: center;
	width: 23%;
    top: 10px;
    left: 2%;
    white-space: nowrap;
    background-color: #121212;
}

ol .section {
    position: absolute;
    top: -60px;
    width: 900px;
    font-size: 20px;
    font-weight: 900;
    color: #BBBBBB;
}

li .description {
    color: #BBBBBB;
    margin: 7px;
}

li .point {
    top: -16px;
    left: 30px;
	width: 8px;
	height: 8px;
	border: 4px solid #E9781C;
	border-radius: 10px;
	background: #ABABAB;
    position: absolute;
}

.timeline .date{
    font-family: 'Arial';
	font-size: 14px;
	color: #666666;
	font-weight: 300;
    margin: 12px;
}
